.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class:"top-items__icons--link" do
          = icon("far", "edit", class:"top-items__icons--icon")
          %span<>
        = link_to edit_user_path(current_user), class:"top-items__icons--link" do
          = icon("fas", "cog", class:"top-items__icons--icon")
          %span<>
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to "#", class:"group__link" do
          .group__link--name
            = group.name
          .group__link--message
            メッセージはまだありません。
        = link_to "#", class:"group__link" do
          .group__link--name
            = group.name
          .group__link--message
            メッセージはまだありません。